
.App {
  text-align: center;
  font-family: sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.selected {
  background: linear-gradient(
    to right,
    lightgreen,
    rgb(0, 217, 255)
  ) !important;
}

.options {
  width: 25%;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid #000;
  flex-basis: calc(25% - 20px);
  margin-right: 20px;
  display: block;
  transition: 0.5s !important;
}

.options:hover {
  transform: scale(1.1);
}

.ui.message:last-child {
  margin: 1em 0;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-left: 2%;
}

body {
  background-image: url('./content/img/Background1.jpg');
  background-size: cover;




}

/* button{
  float: center;
  margin-left: 50%;
} */

.start {
  text-align: center;
  background-color: rgba(205, 209, 215, 0.95);
  width: 50%;
  border-radius: 20px;
  box-shadow: 5px 6px 10px;
  margin: auto;
  margin-top: 9%;
}

.start-button {
  font-size: 18px;
  padding: 15px 30px;
  margin: 25px;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  background: linear-gradient(to right, rgb(12, 77, 255), #16bffd);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.start-button:hover {
  animation: gradient 5s linear infinite;
  background-position: right center;
  transform: scale(1.1);
  color: white;
}

h4 {
  display: block;
  text-align: center;
  font-size: 22px;


}

.page-container {
  display: flex;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
}

.container {
  background-color: rgb(233, 233, 233);
  width: 80%;
  height: 86vh;
  border-radius: 20px;
  box-shadow: 5px 6px 10px;
  margin: 0 auto;
  padding: 5px;
  position: relative;
}

.firstquestion {
  max-width: 65%;
  height: 100%;
  float: left;
  margin: 10px auto;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}



.answers {
  width: 100%;
  height: 100%;
  float: left;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.diagram {
  float: right;
}

.diagramcontainer {
  position: relative;
  width: 15vw;
  z-index: 0;
}

.tooltip {
  position: absolute;
  color: #fff;
  padding: 5px;
  background: rgba(0,0,0,0.8);
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  pointer-events: none;
  z-index: 1000;
}

area:hover {
  cursor: pointer;
}

.buttonsfirst {
  position: absolute;
  bottom: 3%;
}

.diagram button {
  font-size: 12px;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  background: linear-gradient(to right, rgb(12, 77, 255), #16bffd);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.reg-btn-false {
  background-color: grey !important;
}

.diagram button:hover {
  animation: gradient 5s linear infinite;
  background-position: right center;
  transform: scale(1.1);
}

.buttonsfirst button {
  font-size: 18px;
  padding: 15px 30px;
  margin: 25px;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  background: linear-gradient(to right, rgb(12, 77, 255), #16bffd);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.buttonsfirst button:hover {
  animation: gradient 5s linear infinite;
  background-position: right center;
  transform: scale(1.1);
}

.buttons {
  position: absolute;
  bottom: 3%;
  width: 100%;
  margin: 0 auto;
}

.buttons button {
  font-size: 18px;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  background: linear-gradient(to right, rgb(12, 77, 255), #16bffd);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.buttons button:hover {
  animation: gradient 5s linear infinite;
  background-position: right center;
  transform: scale(1.1);
}

.retakebutton {
  font-size: 18px;
  padding: 15px 30px;
  margin: 25px;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  background: linear-gradient(to right, rgb(12, 77, 255), #16bffd);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.retakebutton:hover {
  animation: gradient 5s linear infinite;
  background-position: right center;
  transform: scale(1.1);
}

.fronttext {
  margin: 20px;
}

.login-button {
  font-size: 18px;
  padding: 15px 30px;
  margin: 25px;
  margin-left: 85%;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #254E70;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.banner {
  text-align: center;
  background-color: #B80C09;
  width: 90%;
  border-radius: 20px;
  box-shadow: 5px 6px 10px;
  margin: auto;
  margin-top: 5%;
}

.resultstable {
  margin: 0 auto;
}

.resultstable td, .resultstable th {
  padding: 10px;
}

.resultstable {
  border: 1px solid black;
  border-spacing: 0px;
}

.resultstable th, .resultstable td {
  border-bottom: 1px solid black;
}

.resultstable tr:nth-child(even) {
  background-color: rgb(212, 212, 212);
}

.boneselector:hover {
  background-color: red;
}

p{
  display: block;

}

.profile-button {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  background: linear-gradient(to right, rgb(12, 77, 255), #16bffd);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.register-button {
  top: 0;
  right: 110px;
  position: absolute;
  font-size: 12px;
  cursor: pointer;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  background-color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 0 5px 10px 0 rgba(205, 209, 215, 0.8);
  background: linear-gradient(to right, rgb(12, 77, 255), #16bffd);
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.homebutton {
  bottom: -10px;
  left: -10px;
  position: absolute;
}

.delete {
  background-color: rgb(173, 0, 0);
  color: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(51, 51, 51);
}

.delete:hover {
  cursor: pointer;
  background-color: red;
}

.infopage {
  text-align: center;
  background-color: white;
  width: 80%;
  height: 90vh;
  border-radius: 20px;
  box-shadow: 5px 6px 10px;
  margin: 0 auto;
  margin-top: 4%;
}

.infopdf {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pdfwrapper {
  width: 75% !important;
  margin: 0 auto;
}